<ul>
  <li><strong>Item:</strong> <%= game_item.label %></li>
  <li><strong>Equipped:</strong> <%= game_item.equipped? ? 'Yes' : 'No' %></li>
  <li><strong>Weight:</strong> <%= game_item.weight %> lbs.</li>
  <li><strong>Description:</strong> <%= game_item.description %></li>
  <li><strong>Details:</strong> <%= game_item.details %></li>
  <% if game_item.armor_modifier %>
    <li><strong>Armor:</strong> <%= game_item.armor_modifier %></li>
  <% end %>
  <% if game_item.hit_damage %>
    <li><strong>Damage:</strong> <%= game_item.hit_damage %></li>
  <% end %>
</ul>
